.footer-bar {
  background: linear-gradient(90deg, #2d1152, #4068ec);
  color: #fff;
  display: flex;
  height: 45px;
  width: 100%;
  position: fixed;
  left:0;
  bottom:0;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

h3 {
  text-shadow: rgba(21, 22, 22, 0.644) 2px 4px 7px;
}